- content_for :body_class, "layout-boxed"

- content_for :render_partial_sidebar do
  = render partial: "layouts/shared/sidebar/merchant"

%h1.text-light %h1 Public::Merchant::Reports#index
%p Find me in app/views/public/merchant/reports/index.html.haml
