%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "boxed_default.html#"}
    %i.icon-stack.position-left
    Categories
    %span.caret
  %ul.dropdown-menu.width-250
    %li.dropdown-header Find product by category
    - navigate_by_category.each do |category|
      %li
        = link_to category.name, products_path(category_id: category)