%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "boxed_default.html#"}
    %i.icon-make-group.position-left
    Listing
    %span.caret
  %ul.dropdown-menu.width-250
    %li.dropdown-header Find business by listing
    - navigate_by_list.each do |list|
      %li
        = link_to list.name, businesses_path(list_id: list)